---
$if(title)$
title: '$title$'
$endif$
$if(abstract)$
abstract: >
  $abstract$
$endif$
$if(author)$
author:
  - name: $author$
$endif$
output:
  rjtools::rjournal_web_article:
    self_contained: yes
    toc: no
$if(bibliography)$
bibliography: $bibliography$
$endif$
---

$for(include-before)$
$include-before$

$endfor$
$if(toc)$
$table-of-contents$

$endif$
$body$
$for(include-after)$

$include-after$
$endfor$

